<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Informacion General PSA 2017</title>
</head>
<body>
<div class="container text-center">
    <hr class="margin-bottom-40px">
    <h1>Informacion General PSA</h1>
    <div ng-repeat="info in infos">
        <div class="container">

            <div class="row">
                <div class="col-md-4">

                    <div class="box-flip box-color box-icon box-icon-center box-icon-round box-icon-large text-center" >
                        <div class="front">
                            <div class="box1" style="background-color:#cc271c;">
                                <div class="box-icon-title">
                                    <i ng-if="info.type == 'DOCUMENT'"class="et-document"></i>
                                    <i ng-if="info.type == 'VIDEO'"class="et-video"></i>
                                    <i ng-if="info.type == 'IMAGE'"class="et-picture"></i>
                                    <i ng-if="info.type == 'TEXT'"class="et-book-open"></i>
                                    <h2>{{info.title}}</h2>
                                </div>
                                <p>{{info.description}}</p>
                            </div>
                        </div>

                        <div class="back">
                            <div class="box2" style="background-color:#cc271c;">
                                <h4>{{info.title}}</h4>
                                <hr />
                                <p>{{info.description}}</p>
                                <button class="btn btn-primary" data-toggle="modal" data-target="#myModalFullscreen">Trigger Modal in iFrame</button>



                                <a href={{info.url}} class="btn btn-block btn-translucid" download={{info.title}} >Descargar <i class="fa fa-download"></i></a>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">

                    <div class="box-static box-border-top">
                        <div class="box-title">
                            <h4>{{info.title}}</h4>
                        </div>
                        <p>Descripcion: {{info.description}}.</p>
                        <p><small>Fecha de publicacion : {{info.date}}.</small></p>
                    </div>

                </div>
            </div>
            <!-- Modal -->
            <div class="modal fade modal-fullscreen  footer-to-bottom" id="myModalFullscreen" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog animated zoomInLeft">
                    <div class="modal-content">
                        <div class="modal-header">
                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                            <h4 class="modal-title">Modal title</h4>

                        </div>

                            <iframe src={{info.url}} width="100%" height="80%"  frameborder="0" allowtransparency="true"></iframe>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="button" class="btn btn-primary">Save changes</button>
                        </div>
                    </div>
                    <!-- /.modal-content -->
                </div>
                <!-- /.modal-dialog -->
            </div>
            <!-- /.modal -->
        </div>


    <!-- JAVASCRIPT FILES -->
    <script type="text/javascript">var plugin_path = 'assets/plugins/';</script>
    <script type="text/javascript" src="assets/plugins/jquery/jquery-2.1.4.min.js"></script>
    <script type="text/javascript" src="assets/js/scripts.js"></script>
    <hr class="margin-bottom-40px">
</body>
</html>