

<head>
    <link rel="stylesheet" href="bower_components/flipclock/compiled/flipclock.css">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
    <script src="bower_components/flipclock/compiled/flipclock.js"></script>

    <script src="/js/jquery/jquery.cookie.js"></script>
</head>

<body>
    <div class="clock" style="margin:2em;"></div>
    <div class="message"></div>

    <script type="text/javascript">
        var clock;

        $(document).ready(function() {
            countDown = function(){
                var currentDate = Math.floor(new Date() / 1000);

                var clock = $('.clock').FlipClock({
                    clockFace: 'MinuteCounter',
                    countdown: true,
                    callbacks: {
                        init: function() {
                            //store end date If it's not yet in cookies
                            var endDate = !$.cookie('endDate');
                            console.log(endDate);
                            if(!$.cookie('endDate')){
                                // end date = current date + 60 minutes
                                var endDate = Date.now() + 60*60*1000;
                                // store end date in cookies
                                $.cookie('endDate', Math.floor(endDate / 1000));
                            }
                        },
                        stop: function() {
                            $.removeCookie('endDate'); //removing end date from cookies
                            document.getElementsByName('submit')[0].click();
                            $('.message').html('The clock has stopped!');
                        }
                    }
                });

                var counter = $.cookie('endDate')-currentDate;

                clock.setTime(counter);
                clock.setCountdown(true);

                clock.start();
            };
            countDown();
        });
    </script>


    <div class="row">

        <div>

            <h2>{{index + 1}}) {{currentQuestion.text}}</h2>
            <h1></h1>

            <ul class="answers">
                <div class="radio" ng-repeat="answer in currentAnswers">

                    <label>
                        <input type="radio" value="{{answer.id}}" ng-model="$parent.selected" />
                        {{answer.text}}
                    </label>

                </div>
            </ul>

            <div class="btn-group">
                <br><button type="button" class="btn btn-success form-control" ng-click="previousQuestion()">Previous</button></br>
                <br><button type="button" class="btn btn-success form-control" ng-click="nextQuestion()">Next</button></br>
                <br><button type="button" class="btn btn-success form-control" name="submit" ng-click="finishExam()">Finish Exam!</button></br>
            </div>
            <h1></h1>

            <div data-ng-repeat="i in [0, 1, 2, 3]">
                <h4>{{getSubjectName(i)}}</h4>
                <div class="btn-group" data-ng-repeat = "j in [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]">
                    <button type="button" class="btn btn-success form-control" ng-click="goToQuestion(i * 10 + j)">{{i * 10 + j + 1}}</button>
                </div>
            </div>


        </div>
    </div>

</body>


