

<div class="row">
    <div>       <!-- class="col-md-20 col-md-offset-20" -->
        <h2>{{index + 1}}) {{currentQuestion.text}}</h2>

        <!--
        <div ng-repeat="answer in currentAnswers " ng-model="selected">
            <div class="col-md-20 col-md-offset-3" >
                <input type="radio" value = "{{answer.id}}" />
                <label>{{answer.text}}</label>
            </div>
        </div>

        -->


        <div>
            <div ng-repeat="answer in currentAnswers" class="col-md-5 col-md-offset-3">
                <input type="radio" name="answerdetails" value="{{answer.id}}" ng-model="$parent.selected" />
                <label>{{answer.text}}</label>
            </div><br />
        </div>

        <div class="col-md-3 col-md-offset-3">
            <p><button type="button" class="btn btn-success form-control" ng-click="previousQuestion()">Previous</button></p>
            <p><button type="button" class="btn btn-success form-control" ng-click="nextQuestion()">Next</button></p>
            <p><button type="button" class="btn btn-success form-control" ng-click="print()">Go to Exam!</button></p>
        </div>
    </div>
</div>